<span class="content"><%= micropost_base.content %></span>
<span class="timestamp">
    Posted <%= time_ago_in_words(micropost_base.created_at) %> ago.
  </span>
<% if current_user?(micropost_base.user) %>
    <%= link_to "delete", micropost_base, method: :delete,
                data: { confirm: "You sure?" },
                title: micropost_base.content %>
<% end %>
